<!-- 
This template is designed to handle the display and nesting of comments 
in a modular and reusable way. In particular, the comments.html template allows 
for recursive inclusion, meaning it can include itself to handle nested 
comments. This is essential for displaying threads within threads.
comments.html is a partial template designed to be included within the 
review_detail.html template and, therefore, does not require its own URL path.
-->
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

<!-- Displaying Comments -->
{% for comment in comments %}
<div class="p-2 comments
{% if not comment.approved and comment.author == user %}
faded{% elif not comment.approved %} d-none{% endif %}">
    <p class="font-weight-bold">
        {{ comment.author }}
        <span class="font-weight-normal">
            {{ comment.created_on|naturaltime }}
        </span> wrote:
    </p>

    <div id="comment{{ comment.id }}">
        {{ comment.content | linebreaks }}
    </div>
    <!-- Only show the edit and delete buttons if the current user is the author of the comment -->
    {% if comment.author == user %}
    <a href="#" class="btn btn-edit" data-toggle="modal" data-target="#editModal" data-comment-id="{{ comment.id }}"
        data-comment-content="{{ comment.content }}">Edit</a>
    <a href="#" class="btn btn-edit" data-toggle="modal" data-target="#deleteModal" data-comment-id="{{ comment.id }}"
        data-comment-slug="{{ comment.review.slug }}">Delete</a>



    {% endif %}
    {% if not comment.approved and comment.author == user %}
    <p class="approval">
        This comment is awaiting approval
    </p>
    {% endif %}

    <!-- Add a reply button -->
    <a class="reply-btn" href="#comment-form" data-parent="{{ comment.id }}">Reply</a>
    <!-- Hidden nested comment form template -->
    <div class="nested-comment-form" style="display: none;">
        {% if user.is_authenticated %}
        <form method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="parent" class="parent-id"> <!-- Hidden input field for parent ID -->
            <button type="submit" class="btn btn-signup btn-sm">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
    </div>
    <!-- 
    Recursively include child comments using the comments.html template 
    within review_detail.html
    -->
    {% include "review/comments.html" with comments=comment.replies.all %}

</div>
{% endfor %}

<!-- Edit Comment Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="editCommentForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="commentContent">Comment</label>
                        <textarea class="form-control" id="commentContent" name="content" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this comment?
            </div>
            <div class="modal-footer">
                <form method="post" id="deleteCommentForm">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>