{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- crispy forms -->
{% load crispy_forms_tags %}
<!-- Load humanize tags -->
{% load humanize %}

<!-- Masthead Section -->
<div class="container border mt-4 px-3 py-3 mx-auto detail-main-sections">
    <div class="row g-0 align-items-center">
        <div class="col-md-9 justify-content-end">
            <!-- review film_title goes in these h2 tags -->
            <h2 class="review-title">{{ review.film_title }}</h2>
            <p class="intro-dir-year">Director: {{ review.director }} | Released: {{ review.release_year }}</p>
            <!-- review author goes before the | the review's created date goes after -->
            <p><span class="author">Reviewed by: {{ review.author }}</span> | <span class="text-muted">First Published {{ review.created_on }}</span></p>
        </div>
        <div class="col-md-3 d-flex justify-content-right image-container">
            <!-- Use a default placeholder image if film poster not available -->
            {% if "placeholder" in review.poster.url %}
            <img class="poster-image" src="{% static 'images/film_camera.jpg' %}" alt="Placeholder image for {{ review.film_title }}">
            {% else %}
            <img class="poster-image" src="{{ review.poster.url }}" alt="Poster for {{ review.film_title }}">
            {% endif %}
        </div>
    </div>
</div>

<!-- Review Content Section -->
<div class="container border mt-4 px-3 py-3 mx-auto detail-main-sections">
    <div class="row">
        <div class="col card mb-0 border-0">
            <div class="card-body">
                <h2 class="review-title">{{ review.film_review }}</h2>
                <p class="card-text">
                    {{ review.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Comments Section -->
<!-- Credit Code Institute Django blog walkthrough -->
<!-- Displaying count of comments -->
<div class="container border mt-4 mb-4 px-3 py-3 mx-auto detail-main-sections">
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>

    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-0 border-0">
            <div class="card-body">
                <h3 class="font-weight-bold">Comments:</h3>
                <!-- Include top-level comments (those without a parent) -->
                {% include "review/comments.html" with comments=comments %}
            </div>
        </div>
        <div class="col-md-4 card mb-0 border-0">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3 class="font-weight-bold">Begin a new thread:</h3>
                <p>Posting as: <span class="author font-weight-bold">{{ user.username }}</span></p>
                <form id="comment-form" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <input type="hidden" name="parent" id="parent-id">
                    <button id="submitButton" type="submit" class="custom-button">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a comment or reply.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}